body {
    background-color: #1F2227;
}

h1 {
    color: #ed145b;
    font: 30px/42px Gotham HTF Book;
    text-align: center;
}

h2, h3, h4 {
    color: #ed145b;
    font: 24px/36px Gotham HTF Book;
    text-transform: uppercase;
}

p {
    color: #75838b;
    font: 20px/32px Gotham HTF Book;
    text-align: justify;
    text-transform: uppercase
}

a {
    color: #acc1cc;
    text-transform: uppercase;
}

#sf {
    margin-left: 2%;
}