body{
    background-color: rgb(65, 65, 65)
    
}

h1{
    text-align: center;
    color: rgb(239, 239, 239);
    text-transform: capitalize;
    
}   

#subtítulo{
    text-align: left;
    color:rgb(239, 239, 239);
    text-transform: none;
    
}