
body{
    height: 2000px;
}


div {
    width: 200px;
    height: 200px;
}

.box1 {
    background-color: red;

}
.box2{
    background-color: yellow;
    position: relative;
    left: 200px;


}
.box3 {
    background-color: green;
    position: fixed;

}

img {
    width: 20%;
}