* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteiner {
    background-color: rgb(175, 164, 179);
    width: 100%;
    height: 500px;
    border: 2px solid rgba(90, 22, 90, 0.651);
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap - Não quebra a linha */
    flex-wrap: wrap;
    /* justify-content: flex-end - Joga para a direira */
    justify-content:;
    align-items: baseline;
    align-content: flex-start;
}


.item{
    background-color: rgb(146, 230, 146);
    border: 2px solid rgb(9, 90, 29);
    width: 300px;
    flex-grow: 1;
}

.item1 {
    order: 2;   
}

.item3{
    order: -1;
}